
/*---------------------------------------------------------------------------------------------------------*/
/*---------------------------------------------HERO SECTION------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------*/



/*
	-------
	STYLING FOR HERO-SECTION START
	-------
*/

.hero-section
{
	background-image: linear-gradient(180deg,rgba(0,0,0,.5),rgba(0,0,0,.5)), url(images/1-edit%201.jpg);
	color: white;
	background-repeat: no-repeat;
	background-size: cover;
/*    padding-top: 150px;*/
	text-align: center;
	padding: 190px 15px;
    background-position: right;
}

.hero-section .flex__center
{
    flex-direction: column;
}

.flex__center__row
{
    display: flex;
	 align-items: center;
}

h1
{
	font-size: 72px;
	font-weight: 600;
}

.hero-section h1
{
	max-width: 726px;
	line-height: 120%;
	margin: 15px;
}

.hero-section p
{
	line-height: 14px;
}

.hero-section a
{
	margin: 35px;
}

.hero-section .flex__center img
{
	 margin-right: 15px;
}

.hero-section .flex__center .button__yellow__big img
{
    margin-right: 0;
}

.p--position
{
	position: relative;
	top: 1px;
	margin-left: 6px;
	text-align: left;
}

.hero-section .button__yellow__big
{
	margin: 35px auto;
}

/*
	-------
	STYLING FOR HERO-SECTION END
	-------
*/



/*---------------------------------------------------------------------------------------------------------*/
/*-------------------------------------------------FAQ-----------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------*/


#faq
{
    margin-top: 140px;
}

#faq .span--container
{
    margin: 45px 0 110px 0;
}

#faq .span--container .faq--question
{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #e6e6e6;
     cursor: pointer;
     align-items: center;
}

#faq .span--container span
{
    font-size: 18px;
    line-height: 150%;
}

#faq .span--container img
{
    margin: 18px 10px;
    flex-shrink: 0;
}

/* #faq .two-column--pseudo--img
{
	height: 750px;
} */


/*---------------------------------------------------------------------------------------------------------*/
/*--------------------------------------------MEDIA QUERY--------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------*/


@media(max-width: 1200px)
{

   /*----------------------------------------------------------------*/
    /*-------------------------------------------------------HERO MENU*/
    /*----------------------------------------------------------------*/

    .hero-section
    {
        padding-top: 250px;
    }
}

@media(max-width: 1024px)
{

    /*----------------------------------------------------------------*/
    /*-------------------------------------------------------HERO MENU*/
    /*----------------------------------------------------------------*/

     .hero-section h1
    {
        font-size: 55px;
    }

    .hero-section
    {
        padding-top: 180px;
    }
}


@media(max-width: 768px)
{

	/*----------------------------------------------------------------*/
	/*-------------------------------------------------customer-review*/
	/*----------------------------------------------------------------*/

	main .customer-review
	{
		margin-bottom: 80px;
	}

   /*----------------------------------------------------------------*/
   /*-------------------------------------------------------------FAQ*/
   /*----------------------------------------------------------------*/

    #faq .span--container
    {
        margin: 20px 0 50px 0;
    }

	#faq
	{
    	margin-top: 80px;
	}

    /*----------------------------------------------------------------*/
    /*-------------------------------------------------------HERO MENU*/
    /*----------------------------------------------------------------*/

    .hero-section
    {
        padding-bottom: 110px;
    }
}

@media(max-width: 600px)
{

    /*----------------------------------------------------------------*/
    /*-------------------------------------------------------HERO MENU*/
    /*----------------------------------------------------------------*/

    .hero-section h1
    {
        font-size: 35px;
    }

    .text__small__18
    {
        font-size: 16px;
    }

    .hero-section
    {
        padding-bottom: 100px;
    }

    .flex__center__row
    {
        align-items: center;
    }

    .hero-section p
    {
        font-size: 12px;
    }


    /*----------------------------------------------------------------*/
    /*-------------------------------------------------------------FAQ*/
    /*----------------------------------------------------------------*/

    #faq h2
    {
        margin: 20px 0;
    }

    #faq .span--container span
    {
        font-size: 16px;
    }

    #faq .span--container img
    {
        margin: 10px;
        height: 35px;
        width: 35px;
		  margin-left: 18px;
    }

}

@media(max-width: 480px)
{

    /*----------------------------------------------------------------*/
    /*------------------------------------------------------TWO COLUMN*/
    /*----------------------------------------------------------------*/

    .two-column h2
    {
        font-size: 30px;
    }

	body main .two-column
	{
    	margin-top: 90px;
	}

	main .two-column--grid
	{
    	grid-row-gap: 60px;
    	grid-template-rows: 60vh .8fr;
	}

    /*----------------------------------------------------------------*/
    /*----------------------------------------------------------HEADER*/
    /*----------------------------------------------------------------*/


     .hero-section h1
    {
        font-size: 30px;
    }

    /*----------------------------------------------------------------*/
    /*-------------------------------------------------------HERO MENU*/
    /*----------------------------------------------------------------*/

    .hero-section
    {
        padding: 150px 15px 50px 15px;
    }

	 .hero-section .flex__center img
	 {
		 margin-right: 7px;
	 }

	.p--position
	{
		margin-left: 9px;
	}

	/*----------------------------------------------------------------*/
   /*---------------------------------------------------------SERVICE*/
   /*----------------------------------------------------------------*/

	main .service--pseudo::before
	{
		width: 190px;
		bottom: -45px;
	}

}
