/*---------------------------------------------------------------------------------------------------------*/
/*-----------------------------------------HERO SECTION SMALL----------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------*/


main .hero-section__small
{
	background-image: linear-gradient(180deg,rgba(0,0,0,.5),rgba(0,0,0,.5)), url(why_innerwest_images/main_menu.jpg);
    background-position: center;
}


/*---------------------------------------------------------------------------------------------------------*/
/*-----------------------------------------TWO COLUMN SECTION----------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------*/

main .two-column
{
    margin: 11% auto;
}

main .two-column--pseudo--img
{
	height: 400px;
}

main .two-column--pseudo::after
{
	height: 100px;
	width: 50px;
}

main .two-column .button__yellow__big
{
	margin-top: 40px;
}

/*---------------------------------------------------------------------------------------------------------*/
/*------------------------------------TWO COLUMN CUSTOMER SERVICE------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------*/

.two-column.max__width.customer-services
{
	margin: 80px auto;
}

.customer-service .span--container
{
    margin: 60px 0;
}

.flex--row--1
{
	width: 45%
}

.customer-service .button__yellow__big
{
	margin-top: 40px;
}


/*---------------------------------------------------------------------------------------------------------*/
/*--------------------------------------------SERVICE SECTION ---------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------*/

main .service
{
	margin-top: 100px;
}

.service span
{
    font-weight: 600;
    font-size: 12px;
    line-height: 14px;
    color: #585858;
    text-align: center;
    display: block;
}

.service h1
{
    padding: 0 20px;
    font-weight: 600;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
}

.service .service--grid
{
    margin: 90px auto 17% auto;
}

/*---------------------------------------------------------------------------------------------------------*/
/*------------------------------------------CUSTOMER REVIEW------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------*/

main .customer-review
{
	margin: 0px auto;
}


/*---------------------------------------------------------------------------------------------------------*/
/*--------------------------------------------MEDIA QUERY--------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------*/

@media(max-width: 768px)
{
	/*----------------------------------------------------------------*/
 	/*-------------------------------------TWO COLUMN CUSTOMER SERVICE*/
 	/*----------------------------------------------------------------*/

	.flex--row--1
	{
		width: 100%;
	}

	.two-column.max__width.customer-services
	{
		margin: 50px auto 10px auto;
	}

}


@media(max-width: 600px)
{

    /*----------------------------------------------------------------*/
    /*---------------------------------------------------------SERVICE*/
    /*----------------------------------------------------------------*/

    .service .service--column--one
    {
        border-top: 1px solid #f3f3f3;
    }

	/*----------------------------------------------------------------*/
 	/*-------------------------------------TWO COLUMN CUSTOMER SERVICE*/
 	/*----------------------------------------------------------------*/

 	main .two-column--pseudo::after
 	{
 		height: 90px;
 		width: 45px;
 	}
}


@media(max-width: 480px)
{

	/*----------------------------------------------------------------*/
	/*------------------------------------------------------TWO COLUMN*/
	/*----------------------------------------------------------------*/

	main .two-column--pseudo--img
	{
		height: 300px;
	}

	/*----------------------------------------------------------------*/
	/*-------------------------------------TWO COLUMN CUSTOMER SERVICE*/
	/*----------------------------------------------------------------*/

	main .two-column--pseudo::after
	{
		height: 80px;
		width: 40px;
	}

    /*----------------------------------------------------------------*/
    /*---------------------------------------------------------SERVICE*/
    /*----------------------------------------------------------------*/

    .service .service--grid
    {
        margin-top: 40px;
    }

	 main .service
	 {
		 margin-top: 50px;
	 }

	 .service h1
	 {
		 font-size: 30px;
	 }

    /*----------------------------------------------------------------*/
    /*-------------------------------------TWO COLUMN CUSTOMER SERVICE*/
    /*----------------------------------------------------------------*/

   body main .two-column
   {
      margin-bottom: 0;
   }

	main .two-column
	{
    	margin: 14% auto;
      margin-bottom: 14%;
	}

}
